<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Book</title>
</head>
<body>
<h2>Update Book</h2>
<form th:action="@{/book/admin/update/{id}(id=${book.bookID})}" th:object="${book}" method="post">
    <input type="hidden" th:field="*{bookID}" />
    <label for="title">Title</label>
    <input type="text" id="title" th:field="*{title}" required />

    <label for="authorID">Author</label>
    <select id="authorID" name="authorID" required>
        <option value="" disabled>Select Author</option>
        <option th:each="author : ${authors}"
                th:value="${author.authorID}"
                th:text="${author.name}"
                th:selected="${author.authorID == book.authorID}">
        </option>
    </select>

    <button type="submit">Update</button>
</form>
<a th:href="@{/admin/dashboard}">Back to Dashboard</a>

</body>
</html>

