<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>
</head>
<body>

<header>
    <h1>📚 Library Management System</h1>

    <nav>
        <a th:href="@{/}">Home</a>
        <div sec:authorize="isAnonymous()">
            <a th:href="@{/auth/signin}">Sign In</a>
            <a th:href="@{/auth/signup}">Sign Up</a>
            <a th:href="@{/author/admin/add}">s</a>
        </div>
        <div sec:authorize="isAuthenticated()">
            <a th:href="@{/profile}">Profile</a>
            <span>Hello, <strong sec:authentication="name"></strong>!</span>
            <form th:action="@{/logout}" method="post" style="display:inline;">
                <button type="submit">Logout</button>
            </form>
        </div>
    </nav>

    <a th:href="@{/author/admin/add}">s</a>

</header>


<footer>
    <p>&copy; 2025 Library System</p>
</footer>

</body>
</html>
