<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
</head>
<body>
<h1>Register</h1>
<form th:action="@{/auth/signup}" th:object="${signUpDTO}" method="post">
    <div th:if="${error}" style="color: red;">[[${error}]]</div>
    <div>
        <label>Username:</label>
        <input type="text" th:field="*{username}" required/>
    </div>
    <div>
        <label>Email:</label>
        <input type="email" th:field="*{email}" required/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" th:field="*{password}" required/>
    </div>
    <button type="submit">Register</button>
</form>
<p>You already have an account? <a th:href="@{/auth/signin}">Log In</a></p>
</body>
</html>
